.item {
  background: #414868;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  margin: 12px 0;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
  transition: transform 100ms ease-in-out;
  color: #c0caf5;
}

.item:hover {
  transform: translatex(-10px);
}

button {
  padding: 8px;
  border: 2px solid #bb9af7;
  background: #f7768e;
  border-radius: 8px;
  color: #1a1b26;
  font-weight: bold;
  margin: 1rem;
}

button:hover {
  background: crimson;
}

.done {
  text-decoration: line-through;
}

.desc-div {
  flex-grow: 1;
  padding: 1rem;
  cursor: pointer;
}
