.container {
  padding-top: 20px;
  max-width: 800px;
  margin: auto;
}

.red-cube {
  width: 100px;
  height: 100px;
  background: red;
}
.blue-cube {
  width: 100px;
  height: 100px;
  background: blue;
}
