.item-input {
  display: flex;
  align-items: center;
}

input {
  flex-grow: 1;
  margin-right: 12px;
  font-size: 1.5rem;
  border-radius: 12px;
  border: none;
}

button {
  padding: 8px 16px;
  border: 2px solid #bb9af7;
  background: #a9b1d6;
  border-radius: 8px;
  font-weight: bold;
}

button:hover {
  background: blueviolet;
}
